

<!--<div class="container">-->
<!--<nav class="navbar navbar-toggleable-md navbar-light bg-faded ">-->
<!--<p align="right">-->
<!--<input type="button" onclick="location.href='#!/login';" class="btn btn-primary" value="Login" />-->
<!--<input type="button" id="login-btn" class="btn btn-info" ng-click="loginToggle()"value="Facebook">-->
<!--</input>-->
<!--<span ng-if="status" class="message">-->
<!--You are <strong>Logged in</strong> as <em>{{user.first_name}} {{user.last_name}}</em>-->
<!--</span>-->
<!--<span ng-if="!status" class="message">-->
<!--You are <strong>not</strong> logged in.-->
<!--</span>-->
<!--<div id="fb-root"> </div>-->
<!--</p>-->
<!--</nav>-->
<!--</div>-->

<div class="col-md-6 col-md-offset-3">
    <div>
        <!--<div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lowestPrice.$error.required }">-->
        <div class="form-group">
            <label>Lowest Price</label>
            <!--<input type="text" name="lowestPrice" id="lowestPrice" class="form-control" ng-model="param.minPrice" required />-->
            <input type="text" name="lowestPrice" id="lowestPrice" class="form-control" ng-model="param.minPrice" />
            <!--<span ng-show="form.lastName.$dirty && form.lowestPrice.$error.required" class="help-block">lowest Price is required</span>-->
        </div>
        <div class="form-group" >
            <label >Highest Price</label>
            <input type="text" name="highestPrice" id="highestPrice" class="form-control" ng-model="param.maxPrice" />
        </div>
        <div class="form-group" >
            <label >Property Type</label>
            <select type="text" name="region" id="propertyType" class="form-control" ng-model="param.type">
                <option ng-repeat="type in searchParams.type" value="{{type}}">{{type}}</option>
            </select>
        </div>
        <div class="form-group" >
            <label >Region</label>
            <select type="text" name="region" id="region" class="form-control" ng-model="param.region">
                <option ng-repeat="region in searchParams.region" value="{{region}}">{{region}}</option>
            </select>
        </div>
        <div class="form-group" >
            <label >Number of Bedrooms</label>
            <input type="text" name="numBedrooms" id="numBedrooms" class="form-control" ng-model="param.bedroom" />
        </div>
        <div class="form-group" >
            <label >Number of Bathrooms</label>
            <input type="text" name="numBathrooms" id="numBathrooms" class="form-control" ng-model="param.bathroom" />
        </div>
        <div class="form-group" >
            <label >Year</label>
            <input type="text" name="year" id="year" class="form-control" ng-model="param.year" />
        </div>
        <div class="form-group" >
            <label >Keywords</label>
            <input type="text" name="keywords" id="keywords" class="form-control" ng-model="param.keywords" />
        </div>
        <div class="form-actions">
            <button type="submit" ng-click="search()" class="btn btn-primary">Search</button>
        </div>

    </div>
</div>
