<div>
    <label class="formLabel">Name</label>
    <input name="name" class="form-control" ng-model="userParam.name" placeholder="please enter your name"
           required>

    <label class="formLabel">password</label>
    <input name="password" class="form-control" ng-model="userParam.password" placeholder="please enter password"
           required>

    <button type="button" ng-click="createUser(userParam)">Submit</button>
</div>
<div>
    <ng-map center="41,-87" zoom="3"></ng-map>
</div>
<div>
    <img ng-src="https://photos.duproprio.com/dining-room-living-room-condo-for-sale-mount-royal-quebec-province-en-large-8138910.jpg" alt="">
    <img ng-src="https://mspublic.centris.ca/media.ashx?id=ADDD250D4AAEDC5DD67A26BD1B&t=pi&w=480&h=360&sm=c" alt="">
</div>