.settings/
.idea/
.vscode/
.project
.classpath
deploy
*.iml
target/
logs
*.log
*.class
*.war
*.ear
.vagrant
.idea_modules/
*.ipr
*.iws
*/.cache
*.swp
.gradle/
node_modules/
bower_components/
ngmin/
dist/

